* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-banner {
  background-color: white;
  overflow: hidden;
  // &__container {
  //   max-width: 1320px;
  //   margin: auto;
  //   padding: 0 20px;
  // }
  &__image-overlay {
    margin: 30px auto;
    text-align: center;
    &-light {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-image: url(https://media.istockphoto.com/id/1224392306/photo/dark-blue-minimal-texture-banner-with-space-for-text-word-or-product-display-for-your-banner.jpg?b=1&s=170667a&w=0&k=20&c=3PWdyL-46FLuOGRjh8xwhk6uFE5YC4-tMbMFF2yy4Es=);
      background-size: cover;
      background-position: center;
    }
    // height: 350px;
  }
  &__image-overlay {
    margin: 30px auto;
    text-align: center;
    &-dark {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-image: url(https://img.freepik.com/premium-vector/modern-white-gray-abstract-web-banner-background-creative-design-with-stripe-lines-minimal-geometric-shapes-vector-abstract-graphic-design-banner-pattern-background-template_181182-18232.jpg);
      background-size: cover;
      background-position: center;
      // height: 300px;
      margin-top: 12px;
    }
  }

  &__text {
    text-align: center;
    padding: 12px 18px;
    @media (min-width: 768px) {
      padding: 0;
    }
    &-title {
      padding: 24px 0;
      font-size: 26px;
      margin-bottom: 28px;
      font-family: serif;
      font-weight: 500;
    }

    &-desc {
      padding: 28px 0;
      margin: 12px 0;
    }
    &-link {
      margin: auto;
      text-decoration: none;
      padding: 12px 10px;
      background: white;
      border-radius: 8px;
      color: black;
      display: flex;
      align-items: center;
      width: 50%;
      justify-content: center;
      margin-bottom: 18px;

      @media (min-width: 768px) {
        padding: 12px 50px;
      }

      @media (min-width: 768px) {
        width: 20%;
      }
    }
  }
}
